@import url("./media-queries.css");
@import url("../../node_modules/augmented-ui/augmented-ui.min.css");
@import url("../../node_modules/halfmoon/css/halfmoon.min.css");
/*<!-- CSS Reset -->*/
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/*<!-- Halfmoon CSS -->
@import url("https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css");
/*<!-- Halfmoon core themes -->*/
@import url("https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/cores/halfmoon.cores.css");
@font-face {
  font-family: "Fragma";
  src: url("./../css/font/fragma-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: medium;
}

.fragma {
  font-family: "Fragma";
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

button[data-augmented-ui] {
  border: none;
  --aug-border-all: 1px;
  --aug-border-opacity: 1;

  cursor: pointer;
  position: absolute;
  right: 2.3rem;
  height: 1.35rem;
  width: 2rem;
}
button + button[data-augmented-ui] {
  right: 0.3rem;
  width: 2rem;
  height: 1.35rem;
}
.dots {
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  height: 1rem;
}
.list-container {
  position: relative;
  width: 600px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 90, 0.25));
  margin-left: auto;
  margin-right: auto;
  --aug-r: 0.5rem;
}
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: "fragmaMedium", monospace;
}

/* Base styles */
body {
  border: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.window {
  min-width: 320px;
  margin: 0px 15px;
  position: relative;
  border-radius: 1px;
  border-style: solid;
  border-width: 0px;
--aug-border-all: 3px;
--aug-border-left: 1px;
--aug-border-right: 1px;
--aug-r-inset1: -44px;
--aug-r-extend1: 33%;
--aug-r: 3rem;
}

.window-header {
  display: block;
  justify-content: space-between;
  padding: 4px;
  padding-bottom: 0px;
  text-transform: uppercase;
  --aug-border-bottom: 0px;
  --aug-tl: 1.6rem;
  --aug-t: 0.4rem;
  --aug-border-left: 1px;
  --aug-border-top: 5px;
  --aug-border-right: 0px;
  --aug-t-inset1: 1rem;
}

.window-header .window-title {
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
  padding-bottom: 5px;
  --aug-border-all: 1px;
}
.window-title-text {
  font-size: 17px;
}
.control-buttons {
  padding: 6px;
  float: right;
}
.control-buttons button {
  min-width: 1rem;
  font-size: 10px;
  cursor: pointer;
}

.window-nav-menu {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  font-size: 12px;
  --aug-border-bottom: 1px;
  --aug-border-top: 0px;
  --aug-border-left: 0px;
  --aug-border-right: 13px;
  width: 100%;
  list-style: none;
  --aug-br-inset1: -0.8rem;
}

.window-nav-menu li {
  cursor: pointer;
  transition: color 0.3s;
}

.window-nav-menu li:hover {
  color: #b0bec5; /* Metallic color on hover */
  background: #66666666;
}

/* Window Content */
.window-content-container {
  padding: 7px;
  overflow-y: auto; /* Allow scrolling if needed */
  --aug-border-all: 3px;
}
.window-content {
  background: transparent;
  --aug-border-all: 4px;
  --aug-border-left: 1px;
  --aug-border-right: 1px;
  --aug-border-top: 0px;
  --aug-border-opacity: 0.99;
  --aug-tr: 1.5rem;
  --aug-br: 1rem;
  --aug-bl: 1.5rem;
  --aug-br-inset1: 5rem;
  --aug-tl-inset2: 0.5rem;
  padding: 21px;
}
.window-content li {
  --aug-tr: 0.5rem;
  --aug-tl: 0.5rem;
  --aug-br: 0.5rem;
  --aug-bl: 0.5rem;
  display: block;
  background: #545e73;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 90, 0.25);
}
/* Styling for close/minimize buttons */
button:focus {
  outline: none;
}
